input.task-input{
  width:100%;
  height:40px;
  border:1px solid #ddd;
  border-radius:8px;
  font-size:14px;
  padding-left:15px;
  padding-right:15px;
  box-sizing: border-box;
  transition: 300ms;
}
input.task-input:focus{
  box-shadow: 0 0 10px rgba(255,186,116,.6);
  outline: 0;
}